<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Chronos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ChronosMVC.styles.css" asp-append-version="true" />

    <style>
        .nav-link {
            position: relative;
            padding-bottom: 5px;
           
        }

        .footer {
            background-color: #343a40;
            padding: 40px 0;
            color: #fff;
            text-align: center;
            width: 100%;
            position: relative;
            bottom: 0;
        }

        .nav-link::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 2px;
            background-color: black;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease;
        }

        .nav-link:hover::after {
            transform: scaleX(1);
        }

        .main {
            margin-top: 70px;
        }

        .navbar-toggler {
            border: none;
            outline: none;
        }

            .navbar-toggler:focus {
                outline: none;
            }

     
    </style>
</head>
<body>

    <header>
        <nav class="navbar bg-body-tertiary fixed-top">
            <div class="container-fluid">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Vagas" asp-action="VagasView">Vagas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Publicacao" asp-action="ListarPublicacoes">Publicações</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Curriculo" asp-action="CurriculoView">Curriculo</a>
                    </li>
                </ul>

                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Chronos</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            @if (User.Identity.IsAuthenticated)
                            {
                                var idCorporacao = User.FindFirst("idCorporacao")?.Value;
                                var idEgresso = User.FindFirst("idEgresso")?.Value;

                                if (!string.IsNullOrEmpty(idCorporacao))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Corporacao" asp-action="DadosCorporacao">Meus Dados</a>
                                    </li>
                                }
                                else if (!string.IsNullOrEmpty(idEgresso))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Egresso" asp-action="DadosEgresso">Meus Dados Teste</a>
                                    </li>
                                }
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="#" onclick="confirmLogout(event)">Logout</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="EscolherLogin">Login</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3 main">
            @RenderBody()
        </main>
    </div>

    <script>
        function confirmLogout(event) {
            event.preventDefault();
            const confirmation = confirm("Você realmente deseja fazer logout?");
            if (confirmation) {
                window.location.href = '@Url.Action("Logout", "Corporacao")';
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            var offcanvasNavbar = document.getElementById('offcanvasNavbar');
            var bsOffcanvas = new bootstrap.Offcanvas(offcanvasNavbar);

            // Verifica se o menu está aberto ao carregar a página
            if (sessionStorage.getItem('offcanvasState') === 'open') {
                bsOffcanvas.show();
            }

            // Armazena o estado do menu quando ele é aberto ou fechado
            offcanvasNavbar.addEventListener('hidden.bs.offcanvas', function () {
                sessionStorage.setItem('offcanvasState', 'closed');
            });

            offcanvasNavbar.addEventListener('shown.bs.offcanvas', function () {
                sessionStorage.setItem('offcanvasState', 'open');
            });
        });
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
