@{
    ViewData["Title"] = "Escolher Tipo de Login";
}

<h2>Escolher Tipo de Login</h2>

<div class="btn-group-vertical">
    <a class="btn btn-primary" asp-controller="Corporacao" asp-action="LoginCorporacao">Login Corporativo</a>
    <a class="btn btn-secondary" asp-controller="Egresso" asp-action="LoginEgresso">Login Egresso</a>
</div>
