@{
    ViewData["Title"] = "Home Page";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<div class="text-center">
    <h1 class="display-4"></h1>
</div>

<div class="card text-bg-dark">
    <img src="https://www.galiciaeducacao.com.br/wp-content/uploads/2022/10/Capa-Blog-etapas-da-negociacao.jpg"
        style="height: 400px;">
    <div class="card-img-overlay">
        <div class="card" style="width: 370px; height: 330px; display: flex;">
            <div class="card-body">
                <h5 class="card-title">Login</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Entre com sua conta da Chronos</h6>
                <input type="text" placeholder="Email" style="width: 300px;">
                <br><br>
                <input type="password" placeholder="Senha" style="width: 300px;">
                <br><br>
                <a href="https://www.youtube.com/watch?v=qIPqbUyM2VI">Esqueci a senha?</a>
                <br>
                <p>Ainda não faz parte do Chronos?<a href="https://www.youtube.com/watch?v=cu9EYHjohp0">Cadastre-se</a>
                </p>
                <button class="btn btn-primary" type="button">Entrar</button>
            </div>
        </div>
    </div>
</div>

<div class="ColorContainer" style="background-color: blue;">
    <div class="container" style="display: flex; justify-content: center; align-items: center;">
        <div class="Quemsomos">
            <h2 style="font-size: 50px; color: rgb(255, 230, 0);">Quem Somos?</h2>
            <h3 style="font-size: 28px; color: white; padding-top: 20px;">A Blumenau é uma startup revolucionaria
                fundada neste ano, dedicada a promover a reinserção de
                ex-presidiarios na sociedade. Por meio de um aplicativo inovador, nossa missão é proporcionar
                oportunidades de emprego e reintegração social para aqueles que buscam reconstruir suas vidas após o
                periodo de encarceramento.
                <br> <br>
                Com um sistema cuidadosamente desenvolvido, conectamos empresas comprometidas com a inclusão social a
                talentos únicos e capacitados, oferecendo una plataforma de recrutamento e seleção que valoriza a
                diversidade e a resiliência. No Blumenau, acreditamos no poder da segunda chance e no potencial
                transformador da oportunidade, construindo juntos um futuro mais justo e inclusivo.</h1>
        </div>
        <img src="https://img.freepik.com/fotos-gratis/escritorio-elegante-e-aconchegante_23-2149548666.jpg">
    </div>
</div>

<div class="conjunto" style="display: flex; justify-content: center; align-items: center; margin-top: 100px;">

    <div class="card" style="max-width: 18rem; height: 370px;">
        <img src="https://cdn.pixabay.com/photo/2024/01/23/18/55/ai-generated-8528080_640.jpg" class="card-img-top"
            alt="...">
        <div class="card-body">
            <h5 class="card-title">reintegração</h5>
            <p class="card-text">Chronos facilita a sua volta ao mercado de trablaho como egresso. Cadastre-se agora e
                comece a sua jornada</p>
        </div>
    </div>

    <div class="card" style="max-width: 18rem; margin-left: 80px; margin-right: 80px; height: 370px;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSe3m4bNLSaRT5bSJHDDkGUFnMgrcQBZ1ydCg&s"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">empregos</h5>
            <p class="card-text">Nosso site te conecta com empresas que valoriza a experiencia profissional</p>
        </div>
    </div>

    <div class="card" style="max-width: 18rem; height: 370px;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjMOrtoLfy8_khYpfdNDMdsz62EHHpWg_Svw&s"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">confiaça</h5>
            <p class="card-text">o chronos é um aliado confiavel na reinserção, oferecendo apoio e ferramentas para que
                o e3greesso alcacem seus objetivos.</p>
        </div>
    </div>
</div>

<div class="conjuto2" style="margin-top: 100px;">
    <div class="card text-bg-dark">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ24H9_yAKpfR9rc2HmSLaC6IArv5sNfSO7oQ&s"
            style="height: 400px;">
        <div class="card-img-overlay">
            <h5 class="card-title" style="color: rgb(255, 230, 0); font-size: 50px;">Oportunidade</h5>
            <p class="card-text" style="font-size: 30px;">Chronos te oferece a oportunidade de reencontrar um lugar
                seguro e acolhedor para trilhar seu futuro</p>
        </div>
    </div>

    <div class="card text-bg-dark" style="display: flex; justify-content: right;">
        <img src="https://www.griferelogios.com.br/wp-content/uploads/2015/02/Fique-por-dentro-de-todas-as-funcoes-de-um-relogio-de-pulso.jpg"
            style="height: 400px;">
        <div class="card-img-overlay">
            <h5 class="card-title" style="color: rgb(255, 230, 0); font-size: 50px; display: flex; justify-content: right;">Conquistas</h5>
            <p class="card-text" style="font-size: 30px; display: flex; justify-content: right;">O Chronos é a ponte que voce precisa para retomar sua
                trajetoria profissional com confiança e esperança!</p>
        </div>
    </div>
</div>

<div class="footer" style="background-color: rgb(114, 114, 229); width: 100%; padding: 20px 0;">
    <footer>
        <div class="mandrake"></div>
        <img src="#" style="width: 8%;">
        <p style="display: flex; justify-content: center; color: rgb(0, 0, 0); font-size: 30px;">Blumenautcc@gmail.com
        </p>
        <p style="display: flex; justify-content: center; color: rgb(0, 0, 0);">&copy; 2024 BLUMENAU Todos os direitos
            reservados.</p>
        <p style="display: flex; justify-content: center; color: rgb(0, 0, 0);">Siga-nos nas redes sociais:
            <a href="https://facebook.com" style="color: #000000; text-decoration: none;"><span
                    class="badge text-bg-primary">facebook</span></a> |
            <a href="https://instagram.com" style="color: #000000; text-decoration: none;"><span
                    class="badge text-bg-dark">Instagram</span></a>
        </p>
    </footer>
</div>
