.nav-link {
    position: relative;
    padding-bottom: 5px;
}

.footer {
    background-color: #343a40;
    padding: 40px 0;
    color: #fff;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.nav-link:hover::after {
    transform: scaleX(1);
}

.img-circle {
    border: 2px solid #007bff; /* Borda azul */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra leve */
}


.main {
    margin-top: 70px;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler:focus {
        outline: none;

}

.navbar {
    background-color: #d6eaff !important; /* Azul claro com prioridade */
    border-bottom: 1px solid #e5e5e5; /* Borda inferior para destaque */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.navbar.fixed-top {
    z-index: 1030; /* Garantir que a navbar fique acima de outros elementos */
}

.nav-link {
    color: #0077cc; /* Azul claro para links */
}

.nav-link:hover {
    color: #0056b3; /* Azul escuro no hover */
}

.offcanvas {
    background-color: #f8f9fa; /* Fundo claro para consistência */
}

